body { background: #c28dab; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-product-0 { color: #5b558a; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #cadb6; font-size: 19px; margin-bottom: 5px; }
.block-config-2 { color: #98f86a; font-size: 18px; margin-bottom: 5px; }
.block-helper-3 { color: #b53d0; font-size: 14px; margin-bottom: 5px; }
.block-config-4 { color: #7768d0; font-size: 19px; margin-bottom: 5px; }
.block-router-5 { color: #92cda0; font-size: 12px; margin-bottom: 5px; }
.block-cart-6 { color: #393901; font-size: 17px; margin-bottom: 5px; }
.block-router-7 { color: #ed092a; font-size: 18px; margin-bottom: 5px; }